@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';    /*Letra del boton*/


/*HEADER*/

    header  {      /*Header-formatea grid y da color*/
        display: grid;
        grid-template-columns: 20% 30% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "foto esp nav";
        grid-area: header;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, #e2cee5 , #BF68CC ); 
        padding-bottom: 20px;
    }
    header div {        /*Header-formatea al logo del header*/
        display: flex;
        grid-area: foto;
        height: 100%;
        width: 100%;
        align-items: center;
        margin-left: 20px;
    }
    header nav {        /*Menu*/
        grid-area: nav;
        height: 100%;
        width: 100%;
        text-align: right;
        font-weight: bold;
        font-size: 30px;
        }

    header nav ul il {          
        text-decoration: none;
    }
    header nav ul {               /*Formato al menu*/
        list-style: none;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        height: 60%;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:flex-end ;
    }
    header nav ul :hover {         /*Formato al menu hover*/
        color:rgb(177, 177, 177);
        text-decoration: overline;
    }

/*TODA LA SECCION DEL INDEX*/
    #indexGrid    /*le da formato al index. Diferencia la altura del main*/
    { 
        
        width: auto%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200PX 1850PX 400PX;
        grid-template-areas: "header header"
                            "main main"
                            "footer footer "
                            ;
        row-gap: 100px;
        margin: 0px;
        border: 0px;
        padding: 0px;
        }
    #indexMain {                  
        grid-area: main;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "div1 div2"
                            "div3 div4"
                            ;
        justify-items: center;    /*alinea items dentro de las areas*/
        align-items: center;
        margin-bottom: 100px;
    }
    #indexMain .mainDiv1 {         /*main index*/
        grid-area: div1;
        width: 100%;
        height: 100%;    
        object-position: center;
    }
    #indexMain .mainDiv2 {        /*main index*/     
        display:flex;
        align-items: center;
        justify-content: center;    
        grid-area: div2;
        width: 100%;
        height: 100%;
    }
    #indexMain .mainDiv3 {          /*main index*/
        display:flex;
        align-items: center;
        justify-content: center;  
        grid-area: div3;
        width: 100%;
        height: 100%;
    }
    #indexMain .mainDiv4 {         /*main index*/
        grid-area: div4;
        width: 100%;
        height: 100%;
    }
    #perrogato {         /*main index*/
        border-radius: 20px 20px 20px 20px;
    }

    #ambulancia {       /*main index*/
        border-radius: 20px 20px 20px 20px;
    }
    main .mainDiv1 p{
        margin: 0px 300px 0px 150px;
        padding: 10px 10px 10px 10px;
        font-size: 22px;
        line-height: 40px;
        font-family: 'Noto Sans TC', sans-serif;
    }
    main .mainDiv4 p{
        margin: 0px 100px 0px 300px;
        padding: 10px 10px 10px 10px;
        font-size: 22px;
        line-height: 40px;
        font-family: 'Noto Sans TC', sans-serif;
    }
    main .mainDiv1 h1{
        margin: 0px 300px 0px 0px;
        padding: 10px 10px 10px 10px;
        text-align: center;
        font-family: "neuw-hass-unica";
        font-size: 52px;
        font-family: 'Noto Sans TC', sans-serif;
    }
    main .mainDiv4 h1{
        margin: 0px 200px 0px 0px;
        padding: 10px 10px 10px 10px;
        text-align: center;
        font-family: "neuw-hass-unica";
        font-size: 52px;
        font-family: 'Noto Sans TC', sans-serif;
    }
/*ARRANCA SECTION PLANES*/

    .planesGrid                 /*le da formato a la sección Planes. Diferencia la altura del main*/
    { 
        width: auto;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200PX 600PX 400PX;
        grid-template-areas: "header header"
                                "main main"
                                "footer footer "
                                ;
        row-gap: 100px;
        margin: 0px;
        border: 0px;
        padding: 0px;
    }
    .planesMain {                /*Grid del main*/             
        grid-area: main;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 12% 25% 25% 25% 10%;
        grid-template-rows: 30% 70%;
        grid-template-areas: "lib titulo titulo titulo lib2"
                            "lib plan1 plan2 plan3 lib2"
                            ;
        justify-items: center;    /*alinea items dentro de las areas*/
        align-items: center;
        margin-bottom: 100px;
        row-gap: 10px;
        column-gap: 10px; 
    }
    .planesTitulo {
        grid-area: titulo;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .gridPlanes {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas: " spet sauto spago"
                            ;
        justify-items: center;    /*alinea items dentro de las areas*/
        align-items: center;
        margin: 0px 200px 0px 200px;
    }
    .gpet  {    
        grid: spet;
        display: flex;
        flex-direction:column;
        justify-content:center;
        text-align: center;
        align-items: center;
    }
    .gauto  {    
        grid: sauto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gpago  {    
        grid: spago;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #payment{   
        height: 24px;
        width: 24px;
        justify-content: center;
        align-items: center;
    }
    #taxi{   
        height: 24px;
        width: 24px;
        
    }
    #pets{   
        height: 24px;
        width: 24px;
        justify-content: center;
        align-items: center;
    }
    .plan1 {
        grid-area: plan1;
        height: 100%;
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: top;
    }
    .plan2 {
        grid-area: plan2;
        height: 100%;
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: top;
    }
    .plan3 {
        grid-area: plan3;
        height: 100%;
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: top;
    }
    .precio {
        background-color: white;
        align-items: center;
        text-align: tocenterp;
        border: 50px 50px 50px 50px;
        height: 50px;
        padding: 0px 0px 15px 0px;
    }
    .activa {
        background-color: rgba(246, 241, 241, 0.897);
        height: 120px;
        text-align: center;
    }
    .activa button {
        background-color: #A40DDB;
        color:rgba(246, 241, 241, 0.897);
        font-size: small;
        cursor: pointer;
        border: 1px;
        border-radius: 3px;
        height: 20px;
        width: 60px;
        font-family: 'Noto Sans TC', sans-serif;     
    }
    .descripcion {
        background-color: white;
        margin: 10px 0px 30px 0px;
    }
    .planesSubtitulo {
        text-align: center;
        font-family: "neuw-hass-unica";
        font-size: 14px;
        font-family: 'Noto Sans TC', sans-serif;  
        margin: 0px ;
        color: rgba(54, 54, 54, 0.664);
        padding: 10px 0px 10px 0px;
    }

/*USUARIOS SECCION*/

    #usuariosGrid /*le da formato a la sección usuario. Diferencia la altura del main*/
    { 
        
        width: auto;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200PX 1750PX 400PX;
        grid-template-areas: "header header"
                                "main main"
                                "footer footer "
                                ;
        row-gap: 100px;
        margin: 0px;
        border: 0px;
        padding: 0px;
        }
    #usuariosMain {                  
        grid-area: main;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "div1 div2"
                            "div3 div4"
                            ;
        justify-items: center;    /*alinea items dentro de las areas*/
        align-items: center;
        margin-bottom: 100px;
    }
    .mainDiv1 {         /*main usuarios*/
        grid-area: div1;
        width: 100%;
        height: 100%;    
        object-position: center;
    }
    #mainDiv2 {        /*main usuarios*/  
        grid-area: div2;   
        display:flex;
        align-items: center;
        justify-content: center;    
        width: 100%;
        height: 100%;
    }
    #mainDiv3 {          /*main usuarios*/
        grid-area: div3;
        display:flex;
        align-items: center;
        justify-content: center;  
        width: 100%;
        height: 100%;
    }
    #usuariosMain .mainDiv4 {         /*main index*/
        grid-area: div4;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        object-position: top;
        align-items: top;
        justify-content: top; 
        margin-top: 150px;
    }
    #joven {         /* imagen usuarios*/
        border-radius: 20px 20px 20px 20px;
        width: 900px;
        height: auto;
    }
    #señora {         /*imagen2 usuarios*/
        border-radius: 20px 20px 20px 20px;
        width: 900px;
        height: auto;
    }
    #usuariosMain .mainDiv1 p{
        margin: 0px 200px 0px 150px;
        padding: 10px 10px 10px 10px;
        font-size: 22px;
        line-height: 40px;
        font-family: 'Noto Sans TC', sans-serif;
    }

    #usuariosMain .mainDiv4 p{
        margin: 0px 200px 0px 200px;
        padding: 10px 10px 10px 10px;
        font-size: 22px;
        line-height: 40px;
        font-family: 'Noto Sans TC', sans-serif;
    }
    #usuariosMain .mainDiv1 h1{
        margin: 0px 650px 0px 0px;
        padding: 10px 10px 10px 10px;
        text-align: center;
        font-family: "neuw-hass-unica";
        font-size: 52px;
        font-family: 'Noto Sans TC', sans-serif;
    }
    #usuariosMain .mainDiv4 h1{
        margin: 0px 400px 0px 0px;
        padding: 10px 10px 10px 10px;
        text-align: top;
        font-family: "neuw-hass-unica";
        font-size: 52px;
        font-family: 'Noto Sans TC', sans-serif;
    }
/*CONTACTO SECCION*/

    .contactoGrid /*le da formato a la sección contacto. Diferencia la altura del main*/
    {
        width: auto;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200PX 300PX 400PX;
        grid-template-areas: "header header"
                                "main main"
                                "footer footer "
                                ;
        row-gap: 100px;
        margin: 0px;
        border: 0px;
        padding: 0px;
    }

 /*SERVICIOS SECCION*/

    .serviciosGrid /*le da formato a la sección servicios. Diferencia la altura del main*/
    { 
        width: auto;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200PX 300PX 400PX;
        grid-template-areas: "header header"
                                "main main"
                                "footer footer "
                                ;
        row-gap: 100px;
        margin: 0px;
        border: 0px;
        padding: 0px;
    }

/*FOOTER*/

    footer {    
        grid-area: footer;
        background-color: #e2cee5; 
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 20% 20% 10% 25% 25%;
        grid-template-rows: 50% 30% 20%;
        grid-template-areas: "direc contact lib log1 log2"
                            "direc contact lib3 lib4 politic"
                            "direct contact lib3 lib4 boton"
                            ;
        justify-items: center;    /*alinea items dentro de las areas*/
        align-items: center;
    }

    .footerDivDireccion{    
    grid-area: direc;
    width: 100%;
    height: 100%;
    }

    .footerDivContacto{ 
        grid-area: contact;
        width: 100%;
        height: 100%;
    }
        
    .footerDivLog1{ 
        margin-top:50px;
        grid-area: log1;
        width: 100%;
        height: 100%;
    }
        
    .footerDivLog2{ 
        margin-top:50px;
        grid-area: log2;
        width: 100%;
        height: 100%;
    }
        
    .footerDivPolit{
        grid-area: politic;
        width: 100%;
        height: 20%;
    }

    footer p{    
        margin-left: 70px;
        text-align: left;
        font-family: "neuw-hass-unica";
        font-size: 14px;
        font-family: 'Noto Sans TC', sans-serif;  
        }



/*BOTON FLOTANTE*/

    .btn-flotante {
        font-size: 16px; /* Cambiar el tamaño de la tipografia */
        text-transform: uppercase; /* Texto en mayusculas */
        font-weight: bold; /* Fuente en negrita o bold */
        color: #ffffff; /* Color del texto */
        border-radius: 5px; /* Borde del boton */
        letter-spacing: 2px; /* Espacio entre letras */
        background-color: #9202F2; /* Color de fondo */
        padding: 18px 30px; /* Relleno del boton */
        position: fixed;
        bottom: 40px;
        right: 40px;
        transition: all 300ms ease 0ms;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }
    .btn-flotante:hover {
        background-color: #A40DDB; /* Color de fondo al pasar el cursor */
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-7px);
    }
    /*AGREGADO DE MEDIA PARA EL BOTON FLOTANTE*/
    @media only screen and (max-width: 600px) {
        .btn-flotante {
            font-size: 14px;
            padding: 12px 20px;
            bottom: 20px;
            right: 20px;
        }
    } 

/*FONT STYLINGS*/

    h1{ 
        text-align: center;
        font-family: "neuw-hass-unica";
        font-size: 52px;
        font-family: 'Noto Sans TC', sans-serif;
    }
    h2{ 
        text-align: center;
        font-family: "neuw-hass-unica";
        font-size: 22px;
        font-family: 'Noto Sans TC', sans-serif;  
    }
    h3{ 
        text-align: center;
        font-family: "neuw-hass-unica";
        font-size: 35px;
        font-family: 'Noto Sans TC', sans-serif;  
        margin: 0px;
    }
    h4{ 
        text-align: center;
        font-family: "neuw-hass-unica";
        font-size: 14px;
        font-family: 'Noto Sans TC', sans-serif;  
        color: rgba(54, 54, 54, 0.664);
        margin: 0px;
    }
/*FORMATEO EXTRA*/
    a {                             /*saca decoration de los links*/
        text-decoration: none;
        color: white;
    }
    a:visited {                     /*saca color de los hipervinculos visitados*/
        text-decoration: none;
        color: white;
    }